*{
    box-sizing: border-box;
}
body{
    
    background-color: lightslategray;

    /*overflow:hidden & overflow-x:hidden 的差異*/
    /*在body設overflow:hidden 時，頁面裡超過的部分會不見也沒有scroll*/
    overflow-x: hidden;
    /*The overflow-x property specifies whether to clip the content, 
    add a scroll bar, or display overflow content of a block-level element, 
    when it overflows at the left and right edges.*/
    /* overflow-y property to determine clipping at the top and bottom edges*/
}
.container{
    background-color: lightgray;
    
    /*以左上的角為中心璇轉*/
    /*如果沒有設定左上，default 都是中間點(50%/50%)*/
    /*為何transform-origin會設在container而非container.show-nav?*/
    /*可能是container裡設了transition 需要知道transform-origin的中心點為何?*/
    transform-origin: left top;
    
    /*背景會旋轉*/
    /*針對transform 會 transition*/
    transition: transform 0.4s linear;
    
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.container.show-nav{
    transform: rotate(-20deg);
}

.circle-container{
    /*fixed會把item從本來的flow取出*/
    position: fixed;

    /*會往左上挪移100，只會看見1/4的圓*/
    top: -100px;
    left: -100px;

    width: 300px;
    height: 300px;
}
.circle{
    /*這裡是relative，兩個button是absolute好調整位置*/
    position: relative;

    width: 200px;
    height: 200px;
    background-color: paleturquoise;
    border: 0;
    border-radius: 50%;
    
    /*在circle裡，會有一個transition的動作*/
    /*針對transform*/
    /*這個transform會發生在某一個動作時(所以在下面的button)*/
    transition: transform 0.4s linear;
}

.circle button{
    /*在circle-container裡設了relative*/
    /*要移動button就用absolute*/
    position: absolute;
    top: 50%;
    left: 50%;
    
    /*高度100px，字體在中間*/
    height: 100px;
    
    background: transparent;
    border:none;
    font-size: 25px;
    color: white;
}

.circle button:focus{
    outline: none;
}
.circle button.open{
    left: 60%;
}
.circle button.close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}


li{
    list-style-type: none;
}
.content{
    max-width: 1000px;
    margin: 50px auto;
}
.content img{
    /*content寬度最多1000px，所以圖片會自動縮進1000px裡*/
    max-width: 100%;
}

p{
    font-size: 20px;
    line-height: 1.5;
}


nav{
    position: fixed;
    left: 0;
    bottom: 40px;
    z-index: 10;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    font-size: 20px;
    padding: 5px;
    text-transform:uppercase ;
    color: white;
    margin: 10px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}
nav ul li+li{
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li+li+li{
    margin-left: 30px;
    transform: translateX(-200%);
}


/*outline: (similar to border, outline is outside the borders)
used for :focus styles by default. Remember if you ever remove outline styles, 
like a:focus { outline: 0; }, you need to add them back in using some other 
kind of visually distinct style.*/